* {
  margin: 0;
}

@font-face {
  font-family: 'HalisGRBook';
  src: url('./assets/font/HalisGRBook.otf');
}

@font-face {
  font-family: 'HalisGRBold';
  src: url('./assets/font/HalisGRBold.otf');
}

body {
  font-family: 'HalisGRBook', sans-serif;
  background-color: black;
}

html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

html,
body,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: 2px solid white;
}

#header-logo {
  position: absolute;
  width: 80px;
  margin: 24px 24px 24px 48px;
  height: 80px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.chevron {
  height: 30px;
  width: 50px;
  padding: 10px;
}

#landing-background {
  background-image: url('./assets/HH_Web_1920.png');
  background-repeat: no-repeat;
  background-size: 600px;
  position: relative;
  top: -30px;
}

#browser-header {
  position: sticky;
  top: 20px;
  z-index: 1000;
}

#landing-section__content-half {
  flex: 1;
  flex-direction: column;
  height: 492px;
  color: white;
  position: relative;
  top: 100px;
}

#landing-section__title {
  font-size: 16pt;
  width: 300px;
  text-align: center;
  margin-bottom: 24px;
}

.landing-copy {
  font-size: 8pt;
  color: white;
  text-align: center;
}

.landing-chevron {
  margin-top: 24px;
  animation: bounce 1.5s infinite;
  width: 40px;
  fill: white;
}

.gift-animation {
  animation: slide 2s infinite;
}

@-webkit-keyframes bounce {

  0%,
  100% {
    -webkit-transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
  }

}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes slide {

  0%,
  100% {
    -webkit-transform: translateX(30px);
  }

  50% {
    -webkit-transform: translateX(-30px);
  }

}

@keyframes slide {

  0%,
  100% {
    transform: translateX(30px);
  }

  50% {
    transform: translateX(-30px);
  }
}

#animated-gift-video {
  display: inline;
  position: relative;
  width: 300px;
  top: 175px;
  left: 15px;

}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: 'HalisGRBold';
  font-weight: bolder;
  font-size: 14pt;
}

#landing-section__copy-wider {
  width: 300px;
}

.copy-width {
  width: 260px;
}


.break-line {
  background-color: white;
  height: 1px;
  width: 90%;
  margin: 20px 0px;
}

.footer {
  flex-direction: column;
  text-align: center;
  margin: 0px 24px 24px 24px;
}

.gallery {
  height: 492px;
}

.form-section {
  height: 492px;
  background-color: black;
}

.section-half {
  flex: 1;
  display: flex;
  height: 492px;
  color: white;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#mobile-header {
  position: sticky;
  top: 0;
  background-color: black;
  width: 100%;
  height: 60px;
  z-index: 10000;
}

#mobile-header-image {
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-left: 18px;
}

.polaroid-container {
  width: 220px;
  height: 280px;
  position: relative;
}

.polaroid {
  object-fit: cover;
  height: 286px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.gallery-photo {
  object-fit: cover;
  height: 270px;
  width: 220px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  z-index: 1;

}

.gallery-title {
  font-size: 24pt;
  font-family: 'HalisGRBold';
  color: white;
  text-align: center;
  margin-bottom: 52px;
}

.gallery-control-container {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.gallery-hashtag {
  font-size: 18pt;
  letter-spacing: 2px;
  color: white;
  font-family: 'HalisGRBold';
}

#gallery-container {
  display: flex;
  height: 400px;
  align-items: center;
}

.gallery-section {
  overflow-x: scroll;
  margin-top: 30px;
}

.rotate-left-sm {
  transform: rotate(6deg);
}

.rotate-right-sm {
  transform: rotate(-6deg);
}

.move-up {
  top: 30px;
}

.move-down {
  bottom: 30px;

}

#header-logo {
  display: none;
}

#section-half-image-container {
  display: none;
}

#happy-hour {
  display: none;
}

#header-nav {
  display: none;
}

.sticker {
  height: 100px;
  width: 100px;
}

#gallery-sticker-green {
  position: absolute;
  left: 40px;
  bottom: 480px;
}

#gallery-sticker-white {
  position: absolute;
  right: 50px;
  bottom: 135px;
}

#gallery-sticker-orange {
  display: none;
}

.footer-text {
  color: white;
  font-size: 6pt;
  font-weight: normal;
  margin-bottom: 40px;
  padding: 10px
}

.footer-links {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  font-family: 'HalisGRBold';
  font-size: 14pt;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
}

.social-media-icons {
  width: 40px;
  height: 40px;
  margin: 10px 20px 40px 20px;
}

.social-icon-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scroll-container {
  margin-bottom: 40px;
}

.scroll-text {
  color: white;
  font-size: 12pt;
  font-family: 'HalisGRBold';
  padding: 20px;
}

.chevron-circle {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid white;
}

.left-chevron {
  fill: white;
}

.right-chevron {
  fill: white;
}

.left-chevron:active {
  fill: black;
}

.right-chevron:active {
  fill: black;
}

#left-gallery-chevron:active {
  fill: black;
  background-color: white;
}

#right-gallery-chevron:active {
  fill: black;
  background-color: white;
}

#landing-section {
  flex-direction: column-reverse;
  height: 375px;
}

@media only screen and (min-width: 400px) {
  #gallery-sticker-green {
    position: absolute;
    left: 100px;
    bottom: 430px;
  }

  #gallery-sticker-white {
    position: absolute;
    right: 120px;
    bottom: 160px;
  }

  #animated-gift-video {
    display: inline;
    position: relative;
    width: 300px;
    bottom: 15px;
  }

  #landing-background {
    background-size: cover;
  }
}

@media only screen and (min-width: 900px) {

  #landing-background {
    background-size: cover;
  }

  #header-nav {
    display: flex;
    justify-content: space-evenly;
    color: white;
    width: 100%;
    position: sticky;
    top: 20px;
    z-index: 1000;

  }

  #header-logo {
    display: flex;
  }

  #landing-section__title {
    font-size: 24px;
    font-family: 'HalisGRBold';
    width: 360px;
    text-align: center;
    margin-bottom: 12px;
  }

  #landing-section {
    flex-direction: row;
    margin-bottom: 100px;
    align-items: center;
  }


  .landing-copy {
    font-size: 10pt
  }

  .form-section {
    flex-direction: row;
  }

  #happy-hour {
    display: flex;
    height: 110%;
    position: relative;
    bottom: 45px;
  }

  #section-half-image-container {
    display: flex;
    height: 100%;
  }

  #mobile-header {
    display: none;
  }

  #gallery-sticker-green {
    position: absolute;
    left: auto;
    right: 290px;
    bottom: 90px;
  }

  #gallery-sticker-white {
    position: absolute;
    right: 220px;
    bottom: 430px;
  }

  #gallery-sticker-orange {
    display: block;
    position: absolute;
    left: 280px;
    bottom: 90px;
  }

  .footer-links-container {
    margin: 20px 0px 30px 0px;
    flex-direction: row;
  }

  .footer-links {
    padding: 15px;
  }

  .social-media-icons {
    margin: 40px 10px 50px 10px;
  }

  #animated-gift-video {
    display: inline;
    position: relative;
    width: 700px;
    top: 85px;
  }

  .sticker {
    height: 140px;
    width: 140px;
  }

  .gallery-title {
    margin-bottom: 0;
  }
}